@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Raleway:300,400,500,700&display=swap');

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Kaushan Script', cursive; */
}

html {
  scroll-behavior: smooth;
}

/******************************************* NAV BAR ****************************************/
.logo-small {
  font-size: 1rem;
}

.navbar {
  background: #191716;
  overflow: hidden;
  height: 63px;
  position: fixed;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.navbar ul {
  margin: 8px 0 0 0;
  list-style: none;
}

.logo {
  margin-top: 19px;
  margin-left: 19px;
  color: white;
  display: inline-block;
}

.logo:hover {
  color: pink;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
}

nav ul li a:hover {
  color: pink;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 18px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: pink;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

/************************************** BANNER SECTION ************************************/
#banner {
  min-height: 100vh;

  /* Create a dark overlay over the image */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('/images/disney.jpg');

  /* Image will stay in place while all other elements of the page will scroll over it */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;

  /* Align items vertically in the center of the banner div */
  align-items: center;

  /* Align items horizontally in the center of the banner div */
  justify-content: center;
}

.banner-text {
  font-size: 4rem;
  color: white;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}

.banner-text-small {
  font-size: 3rem;
  align-self: flex-end;
}

.banner-underline {
  width: 400px;
  border: 1px solid white;
  margin: 10px auto 20px auto;
}

.banner-title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.banner-btn {
  margin-top: 40px;
}
.banner-btn a {
  text-decoration: none;
  background: white;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1.5rem;
}

.banner-btn a:hover {
  background: pink;
  color: #191716;
}

.banner-btn button {
  font-size: 1.5rem;
  padding: 15px;
  text-transform: uppercase;
  margin: 0 10px;
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 40px;
}

.banner-btn button:hover {
  color: black;
  background: pink;
}

/************************************** ABOUT SECTION ************************************/
.about {
  min-height: 100vh;
  padding: 80px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/showcase.jpg') center/cover fixed no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-card {
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 60px 40px;
}

.about-card h3 {
  font-size: 3.5rem;
  text-transform: capitalize;
  font-family: 'Kaushan Script', cursive;
}

.about-card .fa-theater-masks {
  font-size: 4.5rem;
  color: purple;
  margin: 20px 0;
}

.about-card .main {
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 500;
}

.about-us {
  list-style: none;
  font-weight: 500;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about .main {
  margin-bottom: 2rem;
}

.counters {
  width: 100%;
  text-align: left;
}

.counters p {
  text-align: left !important;
  display: inline-block;
  width: 100%;
  line-height: 1.5;
  margin-left: 35px;
}

.counters h2 {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 10px 0;
}

.counters .section::before {
  font-family: 'Font Awesome 5 Pro';
  content: '\f630';
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 900;
  color: purple;
  font-size: 20px;
}

/************************************** CONTACT SECTION ************************************/
.contact {
  min-height: 90vh;
  background: url('/images/dolls.jpg') center/cover fixed no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.company-info {
  max-width: 75%;
  background: rgba(0, 0, 0, 0.6);
  color: #ccc;
  padding: 3rem 2rem;
  border-radius: 10px;
  overflow: hidden;
}

.company-info .fa {
  padding-right: 10px;
}

.company-info li {
  margin: 20px 0;
  font-size: 1.5rem;
}

.company-info ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.company-info a {
  text-align: center;
}

/********************************** FOOTER SECTION ***************************************/
footer {
  background: #0d1317;
  padding: 40px 0;
  text-align: center;
}

.footer-icons a {
  display: inline-block;
  font-size: 30px;
  margin: 0 10px 20px 10px;
  padding: 2px 5px;
  border-radius: 5px;
  background: #f5f3f5;
  color: #0d1317;
  transition: all 0.5s ease-in;
}

.footer-icons a:hover {
  background-color: pink;
}

footer p {
  color: #f5f3f5;
  font-size: 20px;
}

/* MEDIA QUERIES */
@media (max-width: 685px) {
  /* .navbar-nav {
    display: none;
  } */

  .open-slide {
    display: none;
  }
  .logo {
    display: none;
  }

  .navbar-nav {
    display: inline;
  }
  .banner-text {
    font-size: 3rem;
  }

  .banner-text-small {
    font-size: 2rem;
  }

  .banner-btn button {
    font-size: 1rem;
    padding: 15px;
  }

  .banner-underline {
    width: 300px;
  }
}

@media (min-width: 685px) {
  .open-slide {
    display: none;
  }

  ul {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  ul li {
    flex: 1 0 auto;
  }

  .about-card {
    max-width: 60%;
    border-radius: 30px;
  }

  .about-card .main {
    max-width: 70%;
    margin: 2rem auto;
  }
}

@media (max-width: 869px) {
  .company-info li {
    font-size: 1.2rem;
    text-align: center;
  }

  .company-info {
    width: 90%;
  }
}
@media (max-width: 555px) {
  .company-info li {
    font-size: 1rem;
    text-align: center;
  }

  .company-info {
    width: 90%;
  }
}
